:root {
  /* --bg-secondary: #141414; #252046; */
  --bg-primary: #1f1f1f;
  --bg-light: #f4f6f3;

  --text-dark: #1f1f1f;
  --text-light: #f4f6f3;
  --text-dark-ts: #1f1f1faa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;

  font-family: inherit;
  font-size: 1em;

  background-color: var(--bg-light);
  color: var(--text-dark);
}

a {
  font-size: 1rem;
  text-decoration: none;
  color: var(--text-dark);
}

p {
  font-size: 1rem;
  line-height: 1.5;
}

h1 {
  font-size: 3rem;
  margin-bottom: 1.875rem;
}

h2 {
  font-size: 2.25rem;
  margin-bottom: 1.25rem;
}

button,
input,
textarea {
  font-family: inherit;
  font-size: inherit;
}

.hide {
  display: none;
}

.sticky-top {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

.header {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;

  padding: 0 1rem;
  min-height: 80px;

  background-color: var(--bg-primary);
  color: var(--text-light);
}

.logo {
  margin: 0.5rem 0;
}

.post-form {
  display: flex;
  justify-content: flex-end;
}

.post-input {
  width: 80%;
  padding: 4px;
  outline: none;
}

.container {
  margin: 0 auto;
  max-width: 48rem;
}

.post {
  position: relative;
  padding: 60px 15px;
}

.post-title {
  width: 100%;
  display: inline-block;
}

.post-text {
  width: 100%;
  display: inline-block;
}

.post-btn {
  padding: 5px;
  border: none;
  outline: none;
  cursor: pointer;

  position: absolute;
  bottom: 0;

  color: var(--text-dark);
}
.post-btn:hover {
  color: var(--text-dark-ts);
}
.post-btn:active {
  color: var(--text-dark);
}

.post-edit {
  right: 15px;
}

.post-undo {
  right: 70px;
}

.footer {
  margin-top: auto;
  min-height: 50px;
  text-align: center;

  background-color: var(--bg-primary);
  color: var(--text-light) !important;
}
